  <main>

	    <div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-12 text-right"> 
       <h1> ? מי אנחנו </h1>
      <p>רשת שלנו נקרא לקח טוב, על שם התורה כמובן שהיא נקראת על ידי שלמה המלך במשלי פרק ד פסוק ב. לקחנו השם הזה כי הוא מבטא שקניית התורה הוא קניין שלם וטוב . לכן כדי להזכיר לכ חברי הרשת שלימוד התורה שלהם הוא דבר יקר וחשוב בחיים שלהם.</p>
      <hr>
      <h3>: מטרות שלנו</h3>
       <p>לרשת שלנו יש כמה מטרות. העיקרית והכללית בינהן היא שרוצים לפרסם תורה באינטרנט ולספק אפשרות לכל אחד הגולש באינטרנט אפשרות לגשת לתורה על די המחשב שלהם בכל זמן שירצו עם יחס חברתי. כמו שמובא בתלמוד "חברותה או מיתותא" , כלומר חשוב ללמוד תורה עם אחרים ולראות הסתכלות אחרת ממני . ביחס לכל הדברים הלא טובים והחושך שממלא את אינטרנט היום, רצינו להוסיף קצת אור לכלי הזה שכמעת כולם משתמשים היום. להלן נפרט יותר את מטרות השונות של הרשת </p>
       <p>לתת אפשרות קלה לדבר וללמוד יותר על ספר אחד שהבן אדם רגיל ללמוד על ידי התקשרות לחברי הרשת שלומדים אותו ספר-</p>
       <p>לתת אחריות לרבנים הרשת שמסבירים גם את הספרים הנלמדים-</p>
       <p>אפשרות לקנות ספר בזול המגיע הבייתה-</p>
       <p>להגיב בקבוצות השייכות לאותו משתמש למסרים השונים של המשתמשים אחרים ולהקים כמו חברותא או בית המדרש  על ספר מסויים. כל זה ברשת -</p>
      </ul>
    </div>
  </div>
</div>
	       
	    </main>
	

	<style>
	body 
      {
      	padding-top : 100px;
        color : #e3eced;
      }

    p, h1, h3
	{
		color : #e3eced;
	}	

	</style>