
 <main>
		<h2> יש לכם שאלות כלפינו?</h2>
		<p> : תשאירו הודעה</p>
	        <label for="name">שם</label>
  <input type="text" name="name"  ng-model="name" id="name"><br>
  <label for="mail">כתובת מייל שלך</label>
  <input type="text" name="mail" ng-model="mail" id="mail"><br>
  	        <label for="message">הודעה</label>
 <textarea name="message" id="message" ng-model="message" rows="5" cols="50"></textarea><br>
 <button type="button" ng-click="send_message()" id="butsend" class="btn btn-primary" > שלח הודעה</button>
 <br/>
 <br/>
 <p>: או על ידי מייל או שיחה טלפונית</p>
 <div> 
 <p>מייל : yifrah_cy@gmail.com</p>
 <p>טלפון : 02583263666</p>
 </div>
 

</main>

<style>
	 body 
      {
      	padding-top : 120px;
      }

        p, h1, h3,label,h2
	{
		color : #e3eced;
	}	
</style>

	  
	 
